<%- include  ( "partials/navbar") %>

<!-----------------------question ---------------------->

<style>
a:hover{

color: whitesmoke;
}

</style>

<div class="container">

<br><h4 class="display-4" style="color: #215077;"><blockquote>Questions</blockquote></h4>


<% if(data.length){

	
	for(var i = 0; i< data.length; i++) {%> 


<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0"><%= data[i].question%></p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title"><%= data[i].name%></cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="answer/<%=data[i].q_id%>" class="btn btn-light">Give Answer</a>
		  <a href="answer/view/<%=data[i].q_id%>" class="btn btn-light">View Answers</a>
		</div>
	</div>


	<% }

}


else{
	 %>
	<tr>
	   <td colspan="3">No user</td>
	</tr>
 <%
 }
  %>  
<!---first complete-------------->


</div>

<!-----------------------question completed---------------------->



<%- include  ( "partials/footer") %>

</body>
</html>


